<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/events">🎓 College Events</a>

        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events/new">Add Event</a>
                </li>
                <% if(!currUser){%>
                   <li>
                    <a class="nav-link" href="/user/login">Login</a> 
                   </li>
                   <li>
                    <a class="nav-link" href="/user/SignUp">SignUp</a> 
                   </li>
                  
                <%}%>
                <% if(currUser) { %>
                   <li>
                    <a class="nav-link" href="/user/profile">Profile</a> 
                   </li>
                   <li>
                      <a class="nav-link" href="/user/logout">Log out</a>
                    </li>  
                <%}%>

                
            </ul>
        </div>
    </div>
</nav>